In [4]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in ./.venv/lib/python3.11/site-packages (2.2.5)

In [6]:
import pandas as pd 
import numpy as np

In [45]:
headers = ["country_id", "admin1", "subdiv", "year", "list", "cause", "sex", "format", "infant_format", 
           "death_all_ages", "death_at_0_year", "death_at_1_year", "death_at_2_year", "death_at_3_year", "death_at_4_year"
           , "death_at_5-9_year", "death_at_10-14_year", "death_at_15-19_year", "death_at_20-24_year", "death_at_25-29_year",
 "death_at_30-34_year", "death_at_35-39_year", "death_at_40-44_year", "death_at_45-49_year",
 "death_at_50-54_year", "death_at_55-59_year", "death_at_60-64_year", "death_at_65-69_year",
 "death_at_70-74_year", "death_at_75-79_year", "death_at_80-84_year", "death_at_85-89_year",
 "death_at_90-94_year", "deat_at_95_plus", "death_undefined_age", "infant_death_0_day",
 "infant_death_1-6_day", "infant_death_7-27_day", "infant_death_28-364_day"]
df = pd.read_csv("data/morticd10_part1", names=headers, header=1)
df.head()

/var/folders/w9/1pmwjr7x04l24kfztqvfbtb40000gn/T/ipykernel_77126/1630914928.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/morticd10_part1", names=headers, header=1)

,country_id,admin1,subdiv,year,list,cause,sex,format,infant_format,death_all_ages,...,death_at_75-79_year,death_at_80-84_year,death_at_85-89_year,death_at_90-94_year,deat_at_95_plus,death_undefined_age,infant_death_0_day,infant_death_1-6_day,infant_death_7-27_day,infant_death_28-364_day
0,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,2,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [50]:
df_causes = pd.read_csv("data/causes_of_death.csv", names=["cause", "idc", "cause_name"], header=1)
df_causes.head()
df_joined = df.join(df_causes, on="cause")
df_joined.head()

ValueError: You are trying to merge on object and int64 columns for key 'cause'. If you wish to proceed you should use pd.concat